.field-validation-error {
    color: red;
}

span.badgex {
    margin-top: -24px;
    margin-left: -8px;
    border-radius: 50%;
    background: #e41e2d;
    color: #fff;
    padding: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
}

.badgex {
    display: inline-block;
    min-width: 10px;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
}

.fa-shopping-cart {
    color: blue;
}
