<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
<<<<<<< HEAD
    <link href="~/css/Mastersheet.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        function MyCart() {
            $("#myModal").modal('show');
            var html = "";
            var total = "0";
            if (SelectedProducts.length > 0) {
                for (var i = 0; i < SelectedProducts.length; i++) {
                    var filearray = (ProdcuctsItems.filter(function (item) {
                        return item.ProductId == SelectedProducts[i].ProductId;
                    }));

                    html = html + "<tr>";
                    html = html + "<td>" + filearray[0].Name + "</td>";
                    html = html + " <td>" + filearray[0].Price + "</td>";
                    html = html + "<td><input type='button' class='btn-sm btn-warning'  value='Remove From Cart' onclick='RemoveFromCart(\"" + filearray[0].ProductId + "\")'></td>";
                    html = html + "</tr>";
                    total = parseFloat(total) + parseFloat(filearray[0].Price);
                }
                html = html + "<tr>";
                html = html + "<td><strong>Total:</strong></td>";
                html = html + "<td><strong> Rs. " + total + "</strong></td>";
                html = html + "<td><input type='button' class='btn-sm btn-primary' name='Process' id='Process' value='Process For Buy' onclick='Process()'/></td>";
                html = html + "</tr>";
            }
            const main = document.getElementById('mycartbody');
            main.innerHTML = html;
        }
=======
    <style>
        .field-validation-error {
            color: red;
        }

        span.badgex {
            margin-top: -24px;
            margin-left: -8px;
            border-radius: 50%;
            background: #e41e2d;
            color: #fff;
            padding: 0;
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            font-size: 10px;
        }

        .badgex {
            display: inline-block;
            min-width: 10px;
            font-weight: 400;
            white-space: nowrap;
            vertical-align: middle;           
        }
        .fa-shopping-cart{
            color:blue;
        }
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
>>>>>>> f78e806823a4e05f69278089bff51f228ccb9966
        function Process() {
            var buyingProducts = [];
            var total = "0";
            for (var i = 0; i < SelectedProducts.length; i++) {

                var filearray = (ProdcuctsItems.filter(function (item) {
                    return item.ProductId == SelectedProducts[i].ProductId;
                }));
                total = parseFloat(total) + parseFloat(filearray[0].Price);
<<<<<<< HEAD
                var p = {
                    "Id": filearray[0].Id,
                    "Category": filearray[0].Category,
                    "Price": filearray[0].Price,
                    "Name": filearray[0].Name,
                    "Image": filearray[0].Image,
                    "ShortDes": filearray[0].ShortDes,
                    "Description": filearray[0].Description,
                    "AvaliableQuantity": filearray[0].AvaliableQuantity,
                    "ProductId": filearray[0].ProductId,
                    "ProductCode": filearray[0].ProductCode,
                    "Color": filearray[0].Color,
                    "ColorCode": filearray[0].ColorCode,
=======
                 var p = {
                     "Id": filearray[0].Id,
                     "Category": filearray[0].Category,
                     "Price": filearray[0].Price,
                     "Name": filearray[0].Name,
                     "Image": filearray[0].Image,
                     "ShortDes": filearray[0].ShortDes,
                     "Description": filearray[0].Description,
                     "AvaliableQuantity": filearray[0].AvaliableQuantity,
                     "ProductId": filearray[0].ProductId,
                     "ProductCode": filearray[0].ProductCode,
                     "Color": filearray[0].Color,
                     "ColorCode": filearray[0].ColorCode,
>>>>>>> f78e806823a4e05f69278089bff51f228ccb9966
                }
                buyingProducts.push(p);
            }
            var Data = {
                BuyingProducts: buyingProducts,
                TotalCost: total,
            }
<<<<<<< HEAD
            $.ajax({
                url: "/Payment/Payment",
                type: "POST",
                data: Data,
=======
            console.log(Data);
            $.ajax({
                url: "/Payment/Payment",
                type: "POST",
                data: Data,               
>>>>>>> f78e806823a4e05f69278089bff51f228ccb9966
                beforeSend: function () {
                    $("#Process").val("Processing ...");
                    $("#Process").prop('disabled', 'true');
                },
                complete: function () {
                    $("#Process").val("Process For Buy");
                    $("#Process").removeAttr('disabled');
                },
<<<<<<< HEAD
                success: function (response) {

=======
                success: function (response) {   
                    debugger;
>>>>>>> f78e806823a4e05f69278089bff51f228ccb9966
                    if (response.result.status == 0) {
                        alert(response.result.detail);
                        window.location.reload();
                    }
                    else {
                        alert("Transaction Failed");
                        window.location.reload();
<<<<<<< HEAD
                    }
=======
                    }                                   
>>>>>>> f78e806823a4e05f69278089bff51f228ccb9966
                },
                error: function (response) {
                    alert("Transaction Failed");
                    window.location.reload();
                },
            });
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="nav-link text-dark navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECSystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
<<<<<<< HEAD
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
=======
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">                  
>>>>>>> f78e806823a4e05f69278089bff51f228ccb9966
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Customers
                        </button>
                        <div class="dropdown-menu">
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="AddCompany">Corporate Company</a>
<<<<<<< HEAD
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="CorporateList">Corporate List</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="HomeOffice">Home/Office</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="HomeOfficeList">Home/Office List</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="Students">Students</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="StudentsList">Students List</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                           Reports
                        </button>
                        <div class="dropdown-menu">
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Reports" asp-action="ProfitLossReport">Profit/Loss Report</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Reports" asp-action="OrderHistoryReport">Order History Report</a>
=======
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="AddCompany">Corporate List</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="AddCompany">Home/Office</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="AddCompany">Home/Office List</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="AddCompany">Students</a>
                            <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Customers" asp-action="AddCompany">Students List</a>
>>>>>>> f78e806823a4e05f69278089bff51f228ccb9966
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a>
                                <span class="badgex header-cart_items" id="cartCount">0</span>
                                <span class="icon-text">
                                    <i class="fas fa-shopping-cart" title="My Cart" onclick="MyCart();">
                                    </i>
                                </span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ECSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">My Cart</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="mycartbody">
                           
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
